<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>sai daqui</title>
</head>
<body>
    <h1>é sério! saia já daqui</h1>
    <h2>{{curso}}</h2>

    <table>
        <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Estoque</th>
        </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr align="center">
                <td> <a href="{% url 'produto' produto.pk %}">{{  produto.nome }}</a> </td>
                <td>{{  produto.preco }}</td>
                <td>{{  produto.estoque }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>