{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    {% include 'paciais/_head.html' %}
</head>

<body>
    <title>{%block 'titulo'%}TITULO{%endblock%}</title>
    <style>
            body {
            font-size : 20px;
            background: #1C1C1C;
            color: #ADD8E6;
            }
        </style>
    {% include 'parciais/_nav.html' %}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            {%block 'conteudo'%}{%endblock%}
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.slim.min.js'%}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>
</html>
